:root{
    --title-color:#322153;
    --primary-color:#34cb79
}
*{
    margin: 0;
    padding: 0;
 
}
body{
    font-family: 'Roboto', sans-serif;
    background: #F0f0f5;
    text-decoration: none;
    -webkit-font-smoothing:antialiased;
}
h1,h2,h3{
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}

a{
    text-decoration: none;
}