<div id="modal" class="hide">
    <div class="content">
        <div class="header">
           <h1>Collect Points</h1>
           <a href="" class="color">Close</a>
        </div>
        <form action="/search-results">
            <label for="Search">Citie</label>
            <div class="search field">
                <input type="text" name="Serch" placeholder="Search by city">
                <button>
                    <img src="./icones/search.svg" alt="Search">
                </button>
            </div>
        </form>
    </div>
</div>